# -----------
# SPDX-License-Identifier: MIT
# Copyright (c) 2022 Troy Williams

# uuid       = c8ed50d2-238d-11ec-811e-5d4d4c500ca4
# author     = Troy Williams
# email      = troy.williams@bluebill.net
# date       = 2021-10-02
# -----------

# -----------
# Information

# This is a template Makefile that will house all of the variables we need for
# Python projects. All of the variables that can be different from project to
# project. The idea is to rename this file to `Makefile.env` and update the
# variables to point to the correct location.

# NOTE: This file demonstrates sample variables for Windows.

# NOTE: This file should not be in version control, i.e. it should be added to
# `.gitignore`. You can use the .gitignore included with the repo as a starting
# point.



# -----------
# Variables

# -----
# PYPATH - The location to the bin folder of the python installation to use

# NOTE: Make doesn't like spaces in the path so be mindful of that!

PYPATH?=/c/tools/python/python_3.9.6

# -----
# PY - The name of the python binary to use

PY?=$(PYPATH)/python


# -----
# VENV - The name of the virtual environment to use

VENV=.venv

# -----
# BIN - The path to the bin folder in the virtual environment. We define this
# so we can use the correct binaries

BIN?=$(VENV)/Scripts

